*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* Navbar start*/
video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    object-fit: cover;
    filter:blur(2px);
}
.nav{
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 1000;
    background-color: rgba(125, 48, 15, 0.647);
    padding: 15px; 
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.nav h1{
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    color:rgb(252, 252, 249);
    display: flex;
    align-content: center;
}
.tagesschrift-regular {
    font-family: "Tagesschrift", system-ui;
    font-weight: 600;
    font-style: normal;
} 
.navlink{
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(255, 253, 253);
    /* font-weight: bold; */
}
.comic-relief-regular {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
} 
.rButton{
    background-color: #c70202e7;
    color:white;
    padding: 7px;
    border: none; 
    border-radius: 3px;
    cursor: pointer;
}
.lButton{
    background-color: #2F2FAD;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.rButton:hover{
    background-color: rgb(146, 19, 19);
}

.lButton:hover{
    background-color: rgb(30, 30, 128);
}

/* Navbar end */

/* welcome text on video start */
.welcome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(86, 64, 2);
}
.food_court{
    color: rgb(69, 51, 1);
    font-size: 50px;
    padding: 5px;
}
.wel_come{
    color: rgba(86, 64, 2, 0.799);
    font-size: 45px;
    padding: 5px;
}
/* welcome text on video end */

/* Welcome page start*/
.content_section{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    text-align: center;
}
.content_card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    align-items: center;
    flex-wrap: wrap;
}
#content h1{
    padding: 15px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}
#content p{
    padding: 15px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}
.btn{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.join_btn {
    padding: 10px 15px 10px 15px;
    color: white;
    background-color: #2F2FAD;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.join_btn:hover {
    background-color: #08088b;
}
.imgBox{
    position: relative;
    overflow: hidden;
}
.sal{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}
.sal1, .sal2{
    height: 270px;
    width: 25%;
    margin-inline: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.sal3{
    height: 270px;
    width: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.sal1:hover,
.sal3:hover,
.sal2:hover{
    border-radius: 8px;
    margin-block: -5px;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: relative;
    flex-grow: 2x;
}
.sal1:hover img,
.sal3:hover img,
.sal2:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out  ;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}
.label {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%, -50%);           
    color: white;
    background: rgba(0, 0, 0, 0.668);
    text-align: center;
    padding: 5px 5px;
    border-radius: 2px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imgBox:hover{
    flex-grow: 2px;
}
/* Welcome page end */

/* About section start */
.about_section {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
    background-color: #f5f5f5;
    text-align: center;
}
.about_card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}
.about_img {
  width: 45%;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}
.about_img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.about_content {
  width: 50%;
  min-width: 280px;
  color: #333;
  text-align: left;
}
.about_content h1 {
    font-size: 28px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about_content p {
  font-size: 16px;
  margin-left: 30px;
  line-height: 1.6;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about_section {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
    background-color: #f5f5f5;
    text-align: center;
}
/* About end */

/* Contact start */
#contact{
    padding: 50px 10%;
    background-color: #f5f5f5;
}
.contact_card{
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
}
.contact_info {
    flex: 1;
    min-width: 200px;
}
.contact_info h1 {
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact_info p {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact_form{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 20px;
    flex: 1;
    min-width: 300px;
}
.contact_form form div {
    margin-bottom: 16px;
}
.contact_form form > .name_row {
    margin-bottom: 0; /* Prevent double spacing */
}
.contact_form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.contact_form input,
.contact_form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}
.contact_form textarea {
    resize: vertical;
    height: 50px;
}
.contact_form button {
    padding: 10px 25px;
    background-color: #b4462a;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.contact_form button:hover {
    background-color: #99391f;
}
.name_row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px; 
}
.name_row div{
    width: 48%;
}
/* Contact page end */

/* Footer */
.footer {
    height: 70px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 10px; 
    background-color: rgba(125, 48, 15, 0.806);
    color: white;
}

.footer p{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.footer_message, .footer_contact, .footer_credit {
    font-size: 14px;
    margin: 0; 
}
/* Footer end */